#noticias {

    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.card {

    margin-right: 50px;

}

.img-card {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card-img-top {
    height: 150px;
    width: auto;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 60px 0;
    background-color: lightgray;
}